<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="banhangConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\hondon\2017\13_4_2017\Desktop\banhang.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="banhangConnectionString2" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\fpoly\Desktop\DB-20170415T063005Z-001\DB\banhang.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="sanpham" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\My Pc\Documents\GitHub\the-last\db\banhang.mdf&quot;;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>